<TsGui>
  <Height>250</Height>
  <Width>300</Width>
  <Padding>20</Padding>
	<Page>
		<Column>
			<!--
			<Margin>2</Margin>
			-->
			<GuiOption Type="FreeText">
				<Variable>OSDComputerName</Variable>
				<Label>Computer name:</Label>
				<DefaultValue>PC1</DefaultValue>
			</GuiOption>
			
			<GuiOption Type="DropDownList">
				<Variable>PCType</Variable>
				<Label>PC Type:</Label>
				<DefaultValue>STDPC</DefaultValue>
				<Option>
					<Text>Standard Desktop</Text>
					<Value>STDPC</Value>
				</Option>
				<Option>
					<Text>Standard Laptop</Text>
					<Value>STDLT</Value>
				</Option>
				<Option>
					<Text>Clinical PC</Text>
					<Value>ClinicalPC</Value>
				</Option>
			</GuiOption>
			
			<GuiOption Type="Heading">
				<Label></Label>
				<Bold />
				<Height>30</Height>
			</GuiOption>
			
			<GuiOption Type="Heading">
				<Label>Applications</Label>
				<Bold />
			</GuiOption>
			
			<GuiOption Type="CheckBox">
				<Variable>AdminApps</Variable>
				<Label>Admin applications</Label>
				<!--
				<TrueValue>YES</TrueValue>
				<FalseValue>NO</FalseValue>
				-->
				<HAlign>left</HAlign>
				<Checked />
			</GuiOption>
			
			<GuiOption Type="CheckBox">
				<Variable>OfficeApps</Variable>
				<Label>Office applications</Label>
				<!--
				<TrueValue>YES</TrueValue>
				<FalseValue>NO</FalseValue>
				<Checked />
				-->
				<HAlign>left</HAlign>
			</GuiOption>
		</Column>
	</Page>
</TsGui>