<TsGui>
  <Height>250</Height>
  <Width>300</Width>
  <Margin>20</Margin>
  <ShowGridLines />
	<Heading>
		<Title>Welcome to Task Sequence Gui</Title>
		<Text>Do whatever you want. I don't care.</Text>
	</Heading>
	<Page>
		<Column>
			<!--
			<Margin>2</Margin>
			-->
			<!--
			<GuiOption Type="FreeText" MaxLength="15" MinLength="1">
				<Disallowed>
					<Characters>/\[]":;|&lt;>+=,?* _</Characters>
				</Disallowed>
				<Variable>OSDComputerName</Variable>
				<Label>Computer name:</Label>
				<DefaultValue>
					<EnvironmentVariable>
						<Ignore>MINNT</Ignore>
						_SMSTSMachineName
					</EnvironmentVariable>
					<WmiQuery>
						<Query>SELECT SerialNumber FROM Win32_BIOS</Query>
					</WmiQuery>
				</DefaultValue>
			</GuiOption>
			-->
			<GuiOption Type="ComputerName" />
			<GuiOption Type="DropDownList">
				<Variable>PCType</Variable>
				<Label>PC Type:</Label>
				<DefaultValue>STDPC</DefaultValue>
				<Option>
					<Toggle Group="ID_3" />
					<Text>Standard Desktop</Text>
					<Value>STDPC</Value>
				</Option>
				<Option>
					<Text>Standard Laptop</Text>
					<Value>STDLT</Value>
				</Option>
				<Option>
					<Text>Clinical PC</Text>
					<Value>ClinicalPC</Value>
				</Option>
			</GuiOption>
			
			<GuiOption Type="Heading">
				<Label></Label>
				<Bold />
				<Height>30</Height>
			</GuiOption>
			
			<GuiOption Type="FreeText" MinLength="2" MaxLength="20" ValidateEmpty="FALSE">
				<Disallowed>
					<Characters>1234567890`~!@#$%^*()+={}[]\\/|,.? :;\"'>&amp;&lt;</Characters>
				</Disallowed>
				<Variable>VAR_TestTextBox</Variable>
				<Label>TestTextBox:</Label>
			</GuiOption>
		</Column>
	</Page>
	<Page>
		<Column>
			<GuiOption Type="Heading">
				<Label>Applications</Label>
				<Bold />
			</GuiOption>
			
			<GuiOption Type="CheckBox">
				<Variable>AdminApps</Variable>
				<Label>Admin applications</Label>
				<!--
				<TrueValue>YES</TrueValue>
				<FalseValue>NO</FalseValue>
				-->
				<HAlign>right</HAlign>
				<Checked />
				<Toggle Group="ID_1">
					<Enabled>TRUE</Enabled>
					<Disabled>FALSE</Disabled>
					<Hide/>
				</Toggle>
			</GuiOption>
			
			<GuiOption Type="CheckBox">
				<Variable>OfficeApps</Variable>
				<Label>Office applications</Label>
				<!--
				<TrueValue>YES</TrueValue>
				<FalseValue>NO</FalseValue>
				<Checked />
				-->
				<HAlign>right</HAlign>
				<Toggle Group="ID_2" Invert="TRUE">
					<Enabled>TRUE</Enabled>
					<Disabled>FALSE</Disabled>
					<Hide/>
				</Toggle>
			</GuiOption>
		</Column>
	</Page>
</TsGui>