<TsGui LiveData="TRUE">
	<Height>250</Height>
	<Width>300</Width>

	<HardwareEval />
	
	<Heading>
		<Title>TsGui</Title>
		<Text>Task Sequence GUI base config</Text>
	</Heading>

	<Page>
		<Row>
			<Column>
				<Formatting>
					<LeftCellWidth>110</LeftCellWidth>
					<RightCellWidth>160</RightCellWidth>
				</Formatting>
				
				<GuiOption Type="ComputerName" />
			</Column>
		</Row>
	</Page>
</TsGui>