<TsGui>
	<Height>250</Height>
	<Width>600</Width>

	<HardwareEval />
	
	<Heading>
		<Title>TsGui</Title>
		<Text>Task Sequence GUI groups example config</Text>
	</Heading>

	<Page>
		<Row>
			<Column>
				<LabelWidth>140</LabelWidth>
				<ControlWidth>130</ControlWidth>

				<GuiOption Type="ComputerName">
					<Validation ValidateEmpty="FALSE">
						<Group>Group_2012r2</Group>
						<Valid>
							<Rule Type="StartsWith">S12-</Rule>
						</Valid>
					</Validation>
					<Validation ValidateEmpty="FALSE">
						<Group>Group_2016</Group>
						<Valid>
							<Rule Type="StartsWith">S16-</Rule>
						</Valid>
					</Validation>
				</GuiOption>
				
				<GuiOption Type="DropDownList">
					<Variable>VAR_OSVer</Variable>
					<Label>OS:</Label>
					<DefaultValue>2012r2</DefaultValue>
					<Option>
						<Toggle Group="Group_2012r2">
							<Hide/>
						</Toggle>
						<Text>Server 2012 R2</Text>
						<Value>2012r2</Value>
					</Option>
					<Option>
						<Toggle Group="Group_2016">
							<Hide/>
						</Toggle>
						<Text>Server 2016</Text>
						<Value>2016</Value>
					</Option>
				</GuiOption>	
			</Column>
		</Row>
	</Page>
</TsGui>