<TsGui LiveData="TRUE" >
	<Height>330</Height>
	<Width>500</Width>

	<!--<ShowGridLines/>-->
	<HardwareEval />
	
	<Heading>
		<Title>TsGui</Title>
		<Text>Task Sequence broken regex</Text>
	</Heading>
	
	<Page>
		<Row>			
			<Column>
				<Width>250</Width>
				<GuiOption Type="ComputerName">
					<Validation ValidateEmpty="FALSE">
						
						<!-- Validation sections with available rule types -->					
						<Valid>
							<Rule Type="RegEx" CaseSensitive="TRUE">^(WM|WD[0-9]{6}$</Rule>
						</Valid>
					</Validation>
				</GuiOption>
			</Column>
		</Row>
	</Page>
</TsGui>